pipeline/pipeline_organizze_main.json
{
	"name": "pipeline_organizze_main",
	"properties": {
		"activities": [
			{
				"name": "metas",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_organizze_processos",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"url_relativa": "budgets",
						"schema": "1_RAW",
						"tabela": "METAS"
					}
				}
			},
			{
				"name": "categorias",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "metas",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_organizze_processos",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"url_relativa": "categories",
						"schema": "1_RAW",
						"tabela": "CATEGORIAS"
					}
				}
			},
			{
				"name": "Lookup Cartoes",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "cartoes",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\nDISTINCT id as id_cartoes\nFROM [1_RAW].CARTOES\nWHERE ARCHIVED = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlServerOrganizze_Pesquisa",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Cartoes",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Cartoes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Cartoes').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "cartoes_transacoes",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline_organizze_processos",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"url_relativa": {
										"value": "@concat('credit_cards/',item().id_cartoes,'/invoices')",
										"type": "Expression"
									},
									"schema": "1_RAW",
									"tabela": "CARTOES_TRANSACOES",
									"pre_copy": {
										"value": "TRUNCATE TABLE [1_RAW].[CARTOES_TRANSACOES]",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "cartoes",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "categorias",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_organizze_processos",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"url_relativa": "credit_cards",
						"schema": "1_RAW",
						"tabela": "CARTOES",
						"pre_copy": {
							"value": "TRUNCATE TABLE [1_RAW].[CARTOES]",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Organizze"
		},
		"annotations": []
	}
}