pipeline/pipeline_organizze_main.json
{
	"name": "pipeline_organizze_main",
	"properties": {
		"activities": [
			{
				"name": "metas",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_organizze_processos",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"url_relativa": "budgets/2024",
						"schema": "1_RAW",
						"tabela": "METAS",
						"pre_copy": {
							"value": "TRUNCATE TABLE [1_RAW].METAS",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "categorias",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "metas",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_organizze_processos",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"url_relativa": "categories",
						"schema": "1_RAW",
						"tabela": "CATEGORIAS",
						"pre_copy": {
							"value": "TRUNCATE TABLE [1_RAW].CATEGORIAS",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup Cartoes",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "cartoes",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\nDISTINCT id as id_cartoes\nFROM [1_RAW].CARTOES\nWHERE ARCHIVED = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlServerOrganizze_Pesquisa",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Cartoes",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "TRUNCATE CARTOES_TRANSACOES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Cartoes').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "cartoes_transacoes",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline_organizze_processos",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"url_relativa": {
										"value": "@concat('credit_cards/',item().id_cartoes,'/invoices?start_date=2023-01-01&end_date=2024-12-31')",
										"type": "Expression"
									},
									"schema": "1_RAW",
									"tabela": "CARTOES_TRANSACOES"
								}
							}
						}
					]
				}
			},
			{
				"name": "cartoes",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "categorias",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipeline_organizze_processos",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"url_relativa": "credit_cards",
						"schema": "1_RAW",
						"tabela": "CARTOES",
						"pre_copy": {
							"value": "TRUNCATE TABLE [1_RAW].[CARTOES]",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "TRUNCATE CARTOES_TRANSACOES",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup Cartoes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "SqlServerOrganizze",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "TRUNCATE TABLE [1_RAW].[CARTOES_TRANSACOES]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup Cartoes Transacoes",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach Cartoes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT DISTINCT \n    id as id_fatura\n    ,credit_card_id as id_cartao\nFROM [1_RAW].CARTOES_TRANSACOES\nWHERE YEAR(DATE) = 2024",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SqlServerOrganizze_Pesquisa",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Cartoes_Faturas_Detalhadas",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup Cartoes Transacoes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Cartoes Transacoes').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "pipeline_organizze_cartoes_faturas_detalhadas",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "TRUNCATE CARTOES_TRANSACOES_DETALHADAS_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline_organizze_cartoes_faturas_detalhadas",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"id_cartao": {
										"value": "@item().id_cartao",
										"type": "Expression"
									},
									"schema": "1_RAW",
									"tabela": "CARTOES_TRANSACOES_DETALHADAS",
									"id_fatura": {
										"value": "@item().id_fatura",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "TRUNCATE CARTOES_TRANSACOES_DETALHADAS_copy1",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SqlServerOrganizze",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('DELETE FROM [1_RAW].CARTOES_TRANSACOES_DETALHADAS WHERE ID = ', item().id_fatura, ' AND CREDIT_CARD_ID = ', item().id_cartao\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Organizze"
		},
		"annotations": []
	}
}